# Base de datos MySQL
FC_DB_HOST=
FC_DB_NAME=
FC_DB_USER=
FC_DB_PASSWORD=

# Google OAuth 2.0
FC_GOOGLE_CLIENT_ID=
FC_GOOGLE_CLIENT_SECRET=

# Google reCAPTCHA v2
FC_RECAPTCHA_SECRET_KEY=
FC_RECAPTCHA_SITE_KEY=

# URL base pública del proyecto (no modificar en producción)
FC_APP_BASE=/FANS-CHOICE
FC_GOOGLE_REDIRECT_URI=https://www.radioconexionlatam.net.pe/FANS-CHOICE/auth.php
